src/resources/ContactPersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" name="ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" tns:force="" http:force="" soap:force="" xsd:force="">
	<wsdl:documentation>
				WSDL interface-definition generated by B1iP for the IPO-Step + port &apos;ipostep:/vP.001sap0011.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc#Ip&apos;.
				If your development tool of choice rejects to use this generated WSDL-file, please do remove the various artificial attributes &apos;xxx:force...&apos; out of
				the root-element &apos;wsdl:definitions&apos;. These attributes do not comply to the WSDL 1.1 specification, but are an unavoidable generation-artefact!
			</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="ContactPrsnBP" type="ContactPrsnBPType">
				<xs:annotation xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms">
					<xs:documentation>Root element for the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms" name="ContactPrsnBPType">
				<xs:annotation>
					<xs:documentation>Automatically generated complex type comprising the whole document for the purpose of schema re-use</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="SysId" form="unqualified" type="xs:string"/>
					<xs:element name="BusinessPartnerID" form="unqualified" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="ContactPrsnBPResponse" type="ContactPrsnBPResponseType">
				<xs:annotation xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms">
					<xs:documentation>Root element for the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms" name="ContactPrsnBPResponseType">
				<xs:annotation>
					<xs:documentation>Automatically generated complex type comprising the whole document for the purpose of schema re-use</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Message" form="unqualified" type="xs:string"/>
					<xs:element name="ContactPersonForBPList" form="unqualified">
						<xs:complexType>
							<xs:sequence>
								<xs:annotation>
									<xs:documentation>As the element &apos;ContactPersonForBPList&apos; contains multiple child-elements with the same name, it is assumed that it contains a database-table dump with similar rows. Thus, only one of those multiple elements with the biggest sub-element count has been dumped to this schema, assuming to be the superset of such a row, allowing a cardinality from zero til unbounded, making all of the sub-elements optional. Note that it is necessary for this approach being accurate that at least one of those rows has to contain the maximum number of fields; also, disjunct or order-reversed field-lists amongst rows also lead to inaccuracy. Also note that potentially otherl sub-elements with distinct names have been left out of the generated schema, as rows have to look homogeneous!</xs:documentation>
								</xs:annotation>
								<xs:element name="ContactPersonDetails" form="unqualified" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="BusinessPartnerID" form="unqualified" minOccurs="0" type="xs:string"/>
											<xs:element name="ContactPersonCode" form="unqualified" minOccurs="0" type="xs:string"/>
											<xs:element name="ContactPersonName" form="unqualified" minOccurs="0" type="xs:string"/>
											<xs:element name="ContactPersonAddress" form="unqualified" minOccurs="0" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="FetchCntPrsnList" type="FetchCntPrsnListType">
				<xs:annotation xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms">
					<xs:documentation>Root element for the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms" name="FetchCntPrsnListType">
				<xs:annotation>
					<xs:documentation>Automatically generated complex type comprising the whole document for the purpose of schema re-use</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="SysId" form="unqualified" type="xs:string"/>
					<xs:element name="QueryHitsMaximumNumberValue" form="unqualified" type="xs:string"/>
					<xs:element name="QueryHitsUnlimitedIndicator" form="unqualified" type="xs:string"/>
					<xs:element name="LastReturnedObjectId" form="unqualified" type="xs:string"/>
					<xs:element name="LastModifiedDate" form="unqualified" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="FetchCntPrsnListResponse" type="FetchCntPrsnListResponseType">
				<xs:annotation xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms">
					<xs:documentation>Root element for the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms" name="FetchCntPrsnListResponseType">
				<xs:annotation>
					<xs:documentation>Automatically generated complex type comprising the whole document for the purpose of schema re-use</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>As the element &apos;FetchCntPrsnListResponse&apos; contains multiple child-elements with the same name, it is assumed that it contains a database-table dump with similar rows. Thus, only one of those multiple elements with the biggest sub-element count has been dumped to this schema, assuming to be the superset of such a row, allowing a cardinality from zero til unbounded, making all of the sub-elements optional. Note that it is necessary for this approach being accurate that at least one of those rows has to contain the maximum number of fields; also, disjunct or order-reversed field-lists amongst rows also lead to inaccuracy. Also note that potentially otherl sub-elements with distinct names have been left out of the generated schema, as rows have to look homogeneous!</xs:documentation>
					</xs:annotation>
					<xs:element name="ContactPersonDetails" form="unqualified" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="BusinessPartnerID" form="unqualified" minOccurs="0" type="xs:string"/>
								<xs:element name="ContactPersonCode" form="unqualified" minOccurs="0" type="xs:string"/>
								<xs:element name="ContactPersonName" form="unqualified" minOccurs="0" type="xs:string"/>
								<xs:element name="ContactPersonAddress" form="unqualified" minOccurs="0" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Message" form="unqualified" type="xs:string"/>
					<xs:element name="LastReturnedObjectId" form="unqualified" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ContactPrsnBP">
		<wsdl:part name="body" element="ContactPrsnBP"/>
	</wsdl:message>
	<wsdl:message name="ContactPrsnBPResponse">
		<wsdl:part name="body" element="ContactPrsnBPResponse"/>
	</wsdl:message>
	<wsdl:message name="FetchCntPrsnList">
		<wsdl:part name="body" element="FetchCntPrsnList"/>
	</wsdl:message>
	<wsdl:message name="FetchCntPrsnListResponse">
		<wsdl:part name="body" element="FetchCntPrsnListResponse"/>
	</wsdl:message>
	<wsdl:portType name="ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc">
		<wsdl:operation name="sap.CCO.ContactPrsnBP">
			<wsdl:input message="tns:ContactPrsnBP"/>
			<wsdl:output message="tns:ContactPrsnBPResponse"/>
		</wsdl:operation>
		<wsdl:operation name="sap.CCO.FetchCntPrsnList">
			<wsdl:input message="tns:FetchCntPrsnList"/>
			<wsdl:output message="tns:FetchCntPrsnListResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding" type="tns:ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sap.CCO.ContactPrsnBP">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sap.CCO.FetchCntPrsnList">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ContactPersonService">
		<wsdl:port name="ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding_HTTP" binding="tns:ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding">
			<soap:address location="http://WDFN33790614A.emea.global.corp.sap:8080/B1iXcellerator/exec/soap/vP.001sap0011.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc"/>
		</wsdl:port>
		<wsdl:port name="ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding_HTTPS" binding="tns:ipostep_vP.001sap0011.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding">
			<soap:address location="https://WDFN33790614A.emea.global.corp.sap:8443/B1iXcellerator/exec/soap/vP.001sap0011.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
